*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    box-sizing: border-box;
    background: $clr-bg-dark;
    color: $clr-font-light;
}

body {
  margin: 0 auto;
  padding: 4rem 1rem;

  @media #{$mq-medium} {
    padding: 4rem 0;
  }
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media #{$mq-large} {
  // .divider-small {
  //   display: none;
  // }
  
  // .divider-large {
  //   display: block;
  // }
}
