@use '../util' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  box-sizing: border-box;
  background: var(--clr-bg-dark);
  color: var(--clr-font-light);
}

body {
  margin: 0 auto;
  padding: 0 rem(10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  @include breakpoint(medium) {
    padding: rem(40) 0;
  }
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: rem(1);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: rem(1);
}
