// Breakpoints
$bp-small: 23.4375em; // 375x;
$bp-large: 90em; // 1440px;

// Media Queries
$mq-small: 'screen and (min-width: #{$bp-small})';
$mq-large: 'screen and (min-width: #{$bp-large})';

// Font family
$ff-mono: "JetBrains Mono", monospace;

// Colors
$clr-primary: #A4FFAF;
$clr-danger: #F64A4A;
$clr-warning: #FB7C58;
$clr-info: #F8CD65;
$clr-font-light: #E6E5EA;
$clr-font-dark: #817D92;
$clr-bg-dark: #18171F;
$clr-bg-light: #24232C;

// Font sizes
$fs-300: 3.2rem;
$fs-200: 2.4rem;
$fs-100: 1.8rem;

// Font weights
$fw-700: 700;
$fw-400: 400;

// Lineheight
$lh-3: 4.3rem;
$lh-2: 3.1rem;
$lh-1: 2.3rem;