.box {
  padding-inline: 3rem;
  
  &__password,
  &__generator {
    background-color: $clr-bg-light;
    color: $clr-font-light;
  }

  &__password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    margin-bottom: 3rem;
    position: relative;
    
    input {
      width: 100%;
      height: 8rem;
      border: none;
      background-color: transparent;
    }

    button {
      position: absolute;
      background-color: transparent;
      border: none;
      cursor: pointer;
      right: 3rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__strength {
    display: flex;
    align-items: center;
    justify-content: space-between;    background: $clr-bg-dark;
    margin-bottom: 3rem;
    height: 7rem;
  }
}