.indicators {
  i {
    display: inline-block;
    height: 2.5rem;
    width: 1rem;
    border: 2px solid transparent;
    background-color: transparent;
    margin-left: 7px;
    border-color: $clr-font-light;
  }

  &.tooweak {
    i:first-child {
      background-color: $clr-danger;
      border-color: $clr-danger;
    }
  }

  &.weak {
    i:first-child,
    i:nth-child(2) {
      background-color: $clr-warning;
      border-color: $clr-warning;
    }
  }

  &.medium {
    i:not(:last-child) {
      background-color: $clr-info;
      border-color: $clr-info;
    }
  }

  &.strong {
    i {
      background-color: $clr-primary;
      border-color: $clr-primary;
    }
  }
}