@use '../util' as *;

.generator {
  width: 100%;
  max-width: rem(540);
  margin: 0 auto;

  @include breakpoint(medium) {
    width: rem(540);
  }
}

h1 {
  color: var(--clr-font-dark);
  font-size: var(--fs-200);
  margin-block: rem(30);
}
