@use '../util' as *;

.box {
  padding: rem(30);

  &__password,
  &__generator {
    background-color: var(--clr-bg-light);
    color: var(--clr-font-light);
  }

  &__password {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(80);
    margin-bottom: rem(30);
    position: relative;

    input {
      padding: rem(30);
      width: 100%;
      height: rem(80);
      border: none;
      background-color: transparent;
      color: var(--clr-font-dark);
      font-weight: var(--fw-700);
      font-size: var(--fs-200);
    }

    button {
      position: absolute;
      background-color: transparent;
      border: none;
      cursor: pointer;
      right: rem(30);
      top: 50%;
      transform: translateY(-50%);

      svg {
        transition: fill 0.25s ease-in-out;
      }

      &:hover {
        svg {
          fill: var(--clr-font-light);
        }
      }
    }

    .on-success-copied {
      color: var(--clr-primary);
      position: absolute;
      right: rem(65);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__strength {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--clr-bg-dark);
    margin-bottom: rem(30);
    height: rem(70);

    span {
      display: flex;
      align-items: center;
    }

    .label {
      color: var(--clr-font-dark);
    }
  }
}
