@use '../util' as *;

.form-control {
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: rem(20);
  cursor: pointer;
  color: var(--clr-font-light);
  margin-bottom: rem(20);

  input[type='checkbox'] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: transparent;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: var(--clr-primary);
    width: rem(20);
    height: rem(20);
    border: rem(2) solid var(--clr-font-light);
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;

    &::before {
      content: '';
      width: rem(18);
      height: rem(18);
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      background-image: url(../../../public/images/icon-check.svg);
      background-size: rem(13);
      background-repeat: no-repeat;
      background-position: center center;
      background-color: var(--clr-primary);
    }

    &:checked {
      border-color: var(--clr-primary);
    }

    &:checked::before {
      transform: scale(1);
    }

    &:hover {
      border-color: var(--clr-primary);
    }
  }

  & + .form-control {
    margin-top: rem(15);
  }
}
